* {
  box-sizing: content-box;
}

div {
  margin: 0;
}

#outer {
  --footer-height: 40px;

  position: relative;
  top: 0;
  left: 0;
}

canvas[id^="page-"] {
  aspect-ratio: 16 / 9;
}
#prevArea {
  left: 0;
}
#nextArea {
  right: 0;
}
#outer > :is(#prevArea, #nextArea) {
  position: absolute;
  top: 0;
  height: calc(100% - var(--footer-height));
  width: 20%;
  opacity: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  display: none;

  opacity: 0.3;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);

  & > div {
    height: 100%;
  }

  .navigate {
    line-height: var(--footer-height);
    padding: 4px;
    mix-blend-mode: difference;
    color: white;
  }

  #btnArea {
    position: absolute;
    top: 0;
    left: 0;
  }
  #infoArea {
    position: absolute;
    top: 0;
    right: 0;
  }
} 
